/* Page d'accueil : main_index.php */

.main_menu {
    display: flex;
    list-style: none;
    width: 13%;
    justify-content: space-between;
    position: relative;
    left: 80%;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article {
    width: 26%;
    text-align: justify;
}

.article a {
    padding-left: 25%;
}

.postView_article {
    width: 26%;
    text-align: justify;
    margin: auto;
}

#com_form {
    position: relative;
    left: 42%;
    width: 340px;
}

#com_form [type="submit"] {
    margin-left: 35%;
    cursor: pointer;
}

#com_form label {
    display: block;
    width: 150px;
    float: left;
}

#login_form {
    width: 15%;
    text-align: center;
    position: relative;
    left: 43%;
}

#login_form [type="submit"] {
    cursor: pointer;
}

#login_form label {
    display: block;
}

#login_message {
    text-align: center;
}

.article_management {
    display: flex;
    text-align: center;    
    justify-content: space-evenly;    
    width: 700px;    
    position: relative;    
    left: 31%;
    padding-bottom: 60px;
}

.article_creation_container, .article_form, .edition_p {
    position: relative;
    text-align: center;
}

.comments {
    position: relative;
    left: 44%;
    max-width: 380px;
}

#add_com {
    text-align: center;
    padding-bottom: 25px;
}

.mce-tinymce.mce-container.mce-panel {
    margin: auto;
}

.edition_a a {
    padding: 0 20px 0 20px;
    position: relative;
    left: 18%;
}

/* Styles pour modal des commentaire */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 41%;
    top: 24%;
    width: 18%;
    height: 13%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}